<%= simple_form_for(@site, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @site.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h4>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :toponym%>
  <%= f.input :nuts_3 %>
  <%= f.input :nuts_2 %>
  <%= f.input :nuts_1 %>
  <%= f.input :description %>
  <%= f.input :literature %>
  <%= f.input :lat %>
  <%= f.input :lng %>
  <%= f.association :mega_type %>
  <%= f.association :source %>
  <%= f.input :comments, class: "form-control" %>
  <h3>External Collections Entries</h3>
  <div id="external_collection_entries">
    <%= f.simple_fields_for :external_collection_entries do |entry| %>
      <%= render 'external_collection_entry_fields', f: entry  %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add Entry', f, :external_collection_entries %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
