<%= stylesheet_link_tag "http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" %>
<%= javascript_include_tag "http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js" %>

<div class="page-header">
  <%= link_to sites_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_site_path(@site), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1><%= @site.name %></h1>
</div>
<div class="container">
<div class="col-md-6">

<dl class="dl-horizontal">
  <dt>Toponym:</dt>
  <dd><%= @site.toponym %></dd>

  <dt>Description:</dt>
  <dd><%= @site.description %></dd>

  <dt>Literature:</dt>
  <dd><%= @site.literature %></dd>

  <dt>La nr:</dt>
  <dd><%= @site.la_nr %></dd>

  <dt>Lat:</dt>
  <dd><%= @site.lat %></dd>

  <dt>Lng:</dt>
  <dd><%= @site.lng %></dd>

  <dt>Mega type:</dt>
  <dd><%= @site.mega_type.name %></dd>

  <dt>Source:</dt>
  <dd><%= @site.source.name %></dd>

  <dt>Comments:</dt>
  <dd><%= @site.comments %></dd>

</dl>

<h3>Catalogue Entries</h3>
<dl class="dl-horizontal">
  <% @site.catalogue_entries.each do |entry|%>
    <dt><%= entry.catalogue.name %>:</dt>
    <dd><%= entry.nr %></dd>
  <%end%>
</dl>

<h3>External Collection Entries</h3>
<dl class="dl-horizontal">
  <% @site.external_collection_entries.each do |entry|%>
    <dt><%= entry.external_collection.name %>:</dt>
    <dd><%= link_to entry.url, entry.url %></dd>
  <%end%>
</dl>
</div>
<div class="col-md-6"><div id="mapid"></div>

  <script type="text/javascript">
    var mymap = L.map('mapid').setView([<%= @site.lat %>, <%= @site.lng %>], 13);
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(mymap);
var marker = L.marker([<%= @site.lat %>, <%= @site.lng %>]).addTo(mymap);
  </script>

</div>
