<%= simple_form_for(@external_collection_entry, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @external_collection_entry.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@external_collection_entry.errors.count, "error") %> prohibited this external_collection_entry from being saved:</h4>

      <ul>
      <% @external_collection_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'fields', f: f %>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
